/* ------------------------------------

issue 

------------------------------------*/ 

.issue{
    padding-top: 150px;
    padding-bottom: 70px;
    background-color: #F6F6F6;
  
    &__block{
      position: relative;
      padding: 50px 70px 78px 40px;
      background-color: #fff;
      -webkit-filter:drop-shadow(0px 3px 6px rgba(0,0,0,0.15));
  
      &--img{
        position: absolute;
        top: -95px;
        right: 0;
        width: 150px;
        height: 222px;
      }
  
      &--heading{
        font-size: 40px;
        font-weight: bolder;
      }
  
    }
  
    &__block:before{
      position: absolute;
      content: '';
      top: 100%;
      left: 50%;
      border-top: 55px solid #fff;/*三角を作る*/
      border-right: 70px solid transparent;
      border-left: 70px solid transparent;
      transform: translateX(-50%);
      z-index: 0;
    }
  
    &__cvtext{
      margin-top: 109px;
      margin-bottom: 43px;
      text-align: center;
      font-weight: bold;
  
      &--min{
        font-size: 30px;
      }
      &--big{
        font-size: 40px;
      }
    }
  }
  
  .orenge-check{
    display: flex;
    margin-top: 45px;
  
    &__lists{
  
      &--item{
        padding-bottom: 12px;
        font-size: 20px;
      }
  
      &--arrow{
        margin-right: 6px;
        color: $orenge;
      }
    }
  
    &__lists.right{
      margin-left: 30px;
    }
  }